﻿@model Modelo.PessoaFisica

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        <strong>Ops...!</strong> @ViewBag.error
    </div>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PessoaFisica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPessoaFisica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPessoaFisica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneFixo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneFixo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
